

#registrarse-button {
    background-color: #00c99f; 
    color: white;
}

#mobile-menu-list li a:hover {
    background-color: #00c99f;
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff; /* Adjust background color as needed */
    z-index: 100; /* Adjust z-index to ensure the header is above other content */
  }