<header>
    <div class="bg-[#010068]">
        <div class=" container flex justify-between mx-auto px-4 py-3 text-white items-center">
            <div class="flex items-center">
                <img src="assets/logo-eafit.png" alt="EAFIT" class="h-12 w-auto">
                <img src="assets/logo-nodo-exponente.png" alt="Laboratorio de Futuros" class="h-12 w-auto">
                <h1 class="text-4xl ml-2" px-5>|</h1>
                <h1 class="text-3xl ml-2 font-kickertrial">Laboratorio de Futuros</h1>
            </div>
            <nav>
                <ul class="flex space-x-10 font-inputsans">
                    <li><a href="#" class="hover:underline">NODO</a></li>
                    <li><a href="#" class="hover:underline">Eventos</a></li>
                    <li><a href="#" class="hover:underline">Reserva</a></li>
                    <li><a href="#" class="hover:underline p-3 rounded-full" id="registrarse-button">Registrarse</a></li>
                </ul>
            </nav>
        </div>
    </div>  
</header>