<div class="bg-[#00c89e] p-4 sm:p-16">
    <div class="slider">
        <div class="slide-track">
            <div class="slide">
                <img src="../../assets/logo-eafit-aliado.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="../../assets/logo-caei.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="../../assets/logo-nova-eafit.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="../../assets/aliado1.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="../../assets/aliado2.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="../../assets/aliado3.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="../../assets/aliado4.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="../../assets/aliado5.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="../../assets/aliado6.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="../../assets/aliado7.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="../../assets/aliado8.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="../../assets/aliado9.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="../../assets/aliado10.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="../../assets/aliado11.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="../../assets/aliado12.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="../../assets/aliado13.png" height="100" width="250" alt="" />
            </div>
        </div>
    </div>
    <div class="p-8 sm:p-16">
        <h2 class="text-4xl sm:text-6xl text-center text-white mb-4 font-kickertrial">Colaboradores que cobran vida en este vibrante espacio.<div class="text-[#010068]">Juntos, imaginamos futuros</div></h2>
    </div>
</div>