<footer class="bg-[#010068] text-white py-10">
    <div class="container sm:flex hidden flex-col flex-wrap justify-between items-center mx-auto px-6 font-inputsans text-base">
            <ul class="flex flex-wrap space-x-6 justify-between items-center">
                <li><a href="https://www.eafit.edu.co/datospersonales#:~:text=De%20esta%20manera%2C%20la%20Universidad,%2C%20libertad%2C%20veracidad%20o%20calidad%2C" class="hover:underline">Política de Privacidad</a></li>
                <li><a href="https://www.eafit.edu.co/Paginas/PQRSF.aspx" class="hover:underline">PQRS</a></li>
                <li><a href="https://www.nodoeafit.com/contacto" class="hover:underline">Contáctenos</a></li>
            </ul>
            <p class="mt-5">&copy; {{ currentYear }} Developed with 💛 by NODO Students</p>
    </div>
    <div class="sm:hidden">
        <div class="container flex flex-col flex-wrap justify-between items-center mx-auto px-6 font-inputsans text-xs" id="footer-list">
            <ul class="flex flex-col flex-wrap space-x-6 justify-between items-center">
                <li><a href="https://www.eafit.edu.co/datospersonales#:~:text=De%20esta%20manera%2C%20la%20Universidad,%2C%20libertad%2C%20veracidad%20o%20calidad%2C" class="hover:underline">Política de Privacidad</a></li>
                <li><a href="https://www.eafit.edu.co/Paginas/PQRSF.aspx" class="hover:underline">PQRS</a></li>
                <li><a href="https://www.nodoeafit.com/contacto" class="hover:underline">Contáctenos</a></li>
            </ul>
            <p class="mt-5 text-center">&copy; {{ currentYear }} Developed with 💛 by NODO Students</p>
        </div>
    </div>
</footer>
