<div class="bg-gradient-to-r from-indigo-500 from-10% via-sky-500 via-30% to-emerald-500 to-90% py-28 sm:py-36 lg:py-48">
    <div class="container mx-auto">
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 items-center">
            <!-- Text Block -->
            <div class="p-7">
                <h2 class="text-4xl sm:text-6xl text-center text-white mb-4 font-kickertrial">Centro para el encuentro, el aprendizaje y el ocio</h2>
                <div class="main-page-buttons text-sm sm:text-xl font-inputsans p-4 items-center">
                    <ul class="flex flex-wrap space-x-2 sm:space-x-10 font-inputsans justify-center">
                        <li class="mb-2 sm:mb-0"><a href="#" class="hover:underline p-3 rounded-lg text-center">Cónoce más</a></li>
                        <li class="mb-2 sm:mb-0"><a routerLink="/labspaces" class="hover:underline p-3 rounded-lg text-center">Reserva</a></li>
                    </ul>
                </div>
            </div>


            <!-- Photo Carousel Block -->
            <ngb-carousel *ngIf="images" [interval]="8000" [showNavigationArrows]="false" [showNavigationIndicators]="false" [pauseOnHover]="false">
                <ng-template ngbSlide *ngFor="let image of images">
                    <div class="carousel-wrapper">
                        <img class="rounded-lg" src="assets/images-lab/{{image.name}}" [alt]="image.name">
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
    </div>
</div>
