<div class="bg-gradient-to-b from-[#010068] from-30%  to-[#00c89e] to-90% py-28 sm:py-36 lg:py-48">
    <div class="container mx-auto">
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 items-center">
            <!-- Text Block -->
            <div class="p-7">
                <h2 class="text-4xl sm:text-6xl text-center text-white mb-4 font-kickertrial">¿Qué es un Laboratorio de Futuros?</h2>
            </div>
            <div class="p-7">
                <p class="text-xl sm:text-2xl text-center text-white mb-4 font-inputsans">Un espacio abierto, flexible y en conexión con los procesos de la Universidad. En pro del plan maestro de EAFIT que hace alusión a los espacios interactivos. Salas que permiten la percepción del conocimiento, la creación del aprendizaje a través del asombro de la innovación y la conexión de cómo imaginamos nuestro futuro</p>
            </div>           
        </div>
    </div>
</div>
<div class="bg-[#00c89e] py-28 sm:py-36 lg:py-48">
    <div class="container mx-auto">
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 items-center">
            <!-- Text Block -->
            <div class="p-7">
                <p class="text-xl sm:text-2xl text-center text-white mb-4 font-inputsans">Aquí convergen el humanismo, el aprendizaje, la tecnología y la sostenibilidad, como fuerzas para crear el futuro y activar la innovación educativa.</p>
            </div>           
            <div class="p-7">
                <h2 class="text-4xl sm:text-6xl text-center text-white mb-4 font-kickertrial">"No se trata de prever el futuro, sino de hacerlo posible"</h2>
                <p class="text-xl sm:text-2xl text-center text-white mb-4 font-inputsans">Antoine de Saint-Erupéry</p>
            </div>
        </div>
    </div>
</div>