<div class="flex flex-wrap justify-center gap-4 mt-2.5">
    <div class="w-96 h-48 bg-white rounded-md overflow-hidden shadow-lg mb-4 flex border-black border-2">
        <img src="../../assets/images-lab/sala-percepcion.jpg" alt="Sala de Percepción" class="w-1/2 h-auto">
        <div class="p-4 w-1/2">
            <h2 class="text-2xl font-semibold text-gray-800">Sala de Percepción</h2>
            <p class="text-gray-700 text-base mt-2">Lorem ipsum dol.</p>
            <a routerLink="/form">
                <button class="bg-yellow-500 text-white px-4 py-2 mt-4 rounded-md hover:bg-yellow-600 focus:outline-none">Reservar</button>
            </a>
        </div>
    </div>

    <div class="w-96 h-48 bg-white rounded-md overflow-hidden shadow-lg mb-4 flex border-black border-2">
        <img src="../../assets/images-lab/asombro-creacion.jpg" alt="Segunda Sala de Asombro" class="w-1/2 h-auto">
        <div class="p-4 w-1/2">
            <h2 class="text-2xl font-semibold text-gray-800 ">Espacio de Asombro</h2>
            <p class="text-gray-700 text-base mt-2">Lorem ipsum dol.</p>
            <a routerLink="/form">
                <button class="bg-yellow-500 text-white px-4 py-2 mt-4 rounded-md hover:bg-yellow-600 focus:outline-none">Reservar</button>
            </a>
        </div>
    </div>

    <div class="w-96 h-48 bg-white rounded-md overflow-hidden shadow-lg mb-4 flex border-black border-2">
        <img src="../../assets/images-lab/sala-creacion.jpg" alt="Sala de Creación" class="w-1/2 h-auto">
        <div class="p-4 w-1/2">
            <h2 class="text-2xl font-semibold text-gray-800">Sala de Creación</h2>
            <p class="text-gray-700 text-base mt-2">Lorem ipsum dol.</p>
            <a routerLink="/form">
                <button class="bg-yellow-500 text-white px-4 py-2 mt-4 rounded-md hover:bg-yellow-600 focus:outline-none">Reservar</button>
            </a>
        </div>
    </div>

    <div class="w-96 h-48 bg-white rounded-md overflow-hidden shadow-lg mb-4 flex border-black border-2">
        <img src="../../assets/images-lab/todo-el-laboratorio.jpg" alt="Sala de Conexión" class="w-1/2 h-auto">
        <div class="p-4 w-1/2">
            <h2 class="text-2xl font-semibold text-gray-800">Sala de Conexión</h2>
            <p class="text-gray-700 text-base mt-2">Lorem ipsum dol.</p>
            <a routerLink="/form">
                <button class="bg-yellow-500 text-white px-4 py-2 mt-4 rounded-md hover:bg-yellow-600 focus:outline-none">Reservar</button>
            </a>
        </div>
    </div>

    <div class="w-96 h-48 bg-white rounded-md overflow-hidden shadow-lg mb-4 flex border-yellow-400 border-2">
        <img src="../../assets/images-lab/asombro-percepcion.jpg" alt="Sala de Asombro" class="w-1/2 h-auto">
        <div class="p-4 w-1/2">
            <h2 class="text-2xl font-semibold text-gray-800">Sala de Asombro</h2>
            <p class="text-gray-700 text-base mt-2">Lorem ipsum dol.</p>
            <a routerLink="/form">
                <button class="bg-yellow-500 text-white px-4 py-2 mt-4 rounded-md hover:bg-yellow-600 focus:outline-none">Reservar</button>
            </a>
        </div>
    </div>
</div>

<h2 class="text-4xl text-blue-800 font-bold">Confirmación de Reserva</h2>
<div>
    <!--Aqui van las cards de confirmación de reserva-->
    <div class="w-96 h-49 bg-white rounded-md overflow-hidden shadow-lg mb-4 flex border-yellow-400 border-2">
        <img src="../../assets/images-lab/asombro-creacion.jpg" alt="Segunda Sala de Asombro" class="w-1/2 h-auto">
        <div class="p-4 w-1/2">
            <h2 class="text-2xl font-semibold text-gray-800">Espacio de Asombro</h2>
            <p class="text-gray-700 text-base mt-2">20 de Septiembre</p>
            <p class="text-gray-700 text-base mt-2">60 minutos</p>
            <button class="bg-yellow-500 text-white px-4 py-2 mt-4 rounded-md hover:bg-yellow-600 focus:outline-none">Reservar</button>
        </div>
    </div>
</div>