@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: KickerTrial-Black;
    src: url("./assets/fonts/KickerTrial-Black.ttf") format("truetype");
}

@font-face {
    font-family: InputSans-ExtraLight;
    src: url("./assets/fonts/InputSans-ExtraLight.ttf") format("truetype");
}